:root {
    --blanco: #FFFFFF; 
    --negro: #212121; 
    --primario: #5ccfdb; 
    --primario-dark: #3f8e97; 
    --secundario: #f39c05;
    --gris: #ccc; 
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: rgba(226,226,226,1);
}

/*INICIO INDEX---------------------------------------------------------------------------------------------------*/

/*INICIO NAVEGACION----------------------------------------------------------------------------------------------*/

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: var(--primario);
    height: 6rem;
    margin-top: 2rem;
}

.navbar a {
    color: var(--blanco);
    padding: 30px 20px;
    text-decoration: none;
    font-size: 1.7rem;
    margin-right: 30px;   
}

.navbar a:hover{
    background-color: var(--primario-dark);
    outline: none;
}

.logo {
    border-radius: 52px 52px 52px 52px;
    box-shadow: 0px 0px 53px 0px rgba(0,0,0,0.75);
    margin-right: 21rem;
    
}

/*FIN NAVEGACION-------------------------------------------------------------------------------------------------*/



/*INICIO HEADER--------------------------------------------------------------------------------------------------*/
.index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem; /* Ajusta la altura según tus necesidades */
  }
/*FIN HEADER-----------------------------------------------------------------------------------------------------*/



/*INICIO CONTENIDO PRINCIPAL-------------------------------------------------------------------------------------*/
.main {
    background-color: rgba(243, 156, 5, 99); /*la opacidad no quiere arrancar xd*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 5rem;
    box-shadow: 0px 4px 35px 0px rgba(0,0,0,0.75);
}

p {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  
/*FIN CONTENIDO PRINCIPAL----------------------------------------------------------------------------------------*/

/*FIN INDEX------------------------------------------------------------------------------------------------------*/


/*INICIO IMC-----------------------------------------------------------------------------------------------------*/


/*INICIO HEADER--------------------------------------------------------------------------------------------------*/
.imch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem; /* Ajusta la altura según tus necesidades */
    margin-top: 6rem;
    font-size: 4rem;
    margin-bottom: 3rem;
}
/*FIN HEADER-----------------------------------------------------------------------------------------------------*/



/*INICIO FORMULARIO----------------------------------------------------------------------------------------------*/
form{
	width:900px;
	padding:20px;
	border-radius:10px;
	margin:auto;
    background-color: var(--gris);
    box-shadow: 0px 0px 53px 0px rgba(0,0,0,0.75);
}

.campo {
    margin-bottom: 2rem;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 2px;
}




.button {
    padding: 10px 20px;
    background-color: #f39c05;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer; /*cambia la manito*/
  }
  
  .button:hover { /*cambia el color de fondo del botón al pasar el mouse sobre él.*/
    background-color: #e68a03;
  }
  
  .button:focus { /*establece el estilo del botón cuando está enfocado (al hacer clic o navegar por el teclado). En este caso, se muestra un contorno y sombra alrededor del botón.*/
    outline: none;
    box-shadow: 0 0 0 2px #f39c05;
  }

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
} 
/*FIN FORMULARIO---------------------------------------------------------------------------------------------*/



/*INICIO TABLA-----------------------------------------------------------------------------------------------*/
.tabla {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabla table {
    border: 1px solid black;
    padding: 3rem 3rem;
    width: 40%;
}

th, td {
    border: 1px solid black;
    text-align: center;
}
/*FIN TABLA--------------------------------------------------------------------------------------------------*/




/*INICIO CALORIAS--------------------------------------------------------------------------------------------*/

/*INICIO SELECT----------------------------------------------------------------------------------------------*/
select {
    margin-top: 0.2rem;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 4px 8px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 4px;
    width: 200px;
  }

.info {
    margin: 2rem 2rem;
}
/*FIN SELECT-------------------------------------------------------------------------------------------------*/


/*INICIO TABLA CALORIAS--------------------------------------------------------------------------------------*/
.tablaCalorias {
    margin: 0 auto;
    padding: 3rem 3rem;
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tablaCalorias2 {
    margin: 0 auto;
    padding: 3rem 3rem;
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}
/*FIN TABLA CALORIAS-----------------------------------------------------------------------------------------*/

/*FIN CALORIAS-----------------------------------------------------------------------------------------------*/



/*INICIO CONTACTO--------------------------------------------------------------------------------------------*/
.headerContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 2rem;
}

.imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 8rem;
}

.yo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 466px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*FIN CONTACTO-----------------------------------------------------------------------------------------------*/